<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <form>
      <select v-model="activeCameraId">
        <option v-for="camera in cameras" :value="camera.id">{{ camera.name }}</option>
      </select>
    </form>
    <video ref="preview"></video>
  </div>
  <script src="/static/javascripts/vue.min.js"></script>
  <script src="/static/javascripts/adapter.min.js"></script>
  <script src="/static/javascripts/instascan.min.js"></script>
  <script>
    const app = new Vue({
      el: document.getElementById('app'),
      data() {
        return {
          cameras: [],
          activeCamera: null,
          activeCameraId: null,
        }
      },
      computed: {
        activeCamera() {
          return this.cameras.find((camera) => {
            return camera.id === this.activeCameraId;
          });
        }
      },
      methods: {
        scanCaptured(content) {
          console.log(content);
        },
        setCamera(camera) {
          if (!camera) return;
          this.scanner.start(camera);
        },
      },
      watch: {
        cameras(cameras) {
          this.setCamera(cameras[0]);
        },
        activeCamera(camera) {
          if (camera) {
            this.setCamera(camera);
          }
        },
      },
      mounted() {
        this.scanner = new Instascan.Scanner({
          continuous: true,
          video: this.$refs.preview,
          scanPeriod: 5,
          backgroundScan: false,
          captureImage: false,
        });
        this.scanner.addListener('scan', this.scanCaptured);
        Instascan.Camera.getCameras()
          .then((cameras) => {
            this.cameras = cameras;
          })
          .catch((error) => {
            console.error(error);
          });
        console.log(this.scanner);
      },
    })
  </script>
</body>

</html>
